export SECRETS_EXTENSION='.encrypted'
use pipx
has pre-commit || pipx install pre-commit
has detect-secrets || pipx install detect-secrets
[[ ! -f .git/hooks/pre-commit ]] && pre-commit install --install-hooks
