watch_file .tool-versions
export SECRETS_EXTENSION='.encrypted'

use pipx
has pre-commit || pipx install pre-commit
has detect-secrets || pipx install detect-secrets

use pre-commit

touch .env
dotenv
