# Intellij
.idea/
*.iml

# Eclipse
.settings/
.project
.pydevproject

# OS X
.DS_Store

/home/
!/home/.gitignore
/jenkins-bootstrap-deploy.*
/.direnv/
/.env

# git-secret
/.gitsecret/keys/random_seed
*.secret
!*.encrypted
