# Intellij
.idea/
*.iml

# Eclipse
.settings/
.project
.pydevproject

# Python
/.venv/

# OS X
.DS_Store

/home/
!/home/.gitignore

/jenkins-bootstrap-deploy.*

# git-secret
/.gitsecret/keys/random_seed
!*.encrypted
