# Intellij
.idea/
*.iml

# Eclipse
.settings/
.project
.pydevproject

# OS X
.DS_Store

/home/
!/home/.gitignore

/jenkins-bootstrap-deploy.*

# git-secret
/.gitsecret/keys/random_seed
!*.encrypted
auth0/Jenkins-Local.secret
